/* -------------------------------------------------------------------------------
    VELKÁ INTERAKTIVNA A4 STRANA
-------------------------------------------------------------------------------    */
#a4-preview {
    width: 170mm; /* Šírka A4 150mm */
    height: 197mm; /* Výška A4 180mm;  */
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr auto;
    margin: 50px;
    color: #333;
    font-size: 0.9em;
    position: relative;
    left: 1050px; /* Posunie na polovicu šírky rodiča */
    bottom: 700px;
}

/* -------------------------------------------------------------------------------
    FAKTÚRA NADPIS
-------------------------------------------------------------------------------    */
#faktura-title {   /*  FAKTÚRA NADPIS   */      
    grid-column: 1 / 3;
    text-align: right;
    font-size: 30px;
    margin-right: 50px;
}

/* -------------------------------------------------------------------------------
    ČISLO POD NADPISOM FAKTÚRA
-------------------------------------------------------------------------------    */
#faktura-title-number {
    grid-column: 1 / 3;
    text-align: right;
    font-size: 12px;
    margin-top: -30px;
}

/* -------------------------------------------------------------------------------
    DODAVATEĽ NADPIS
-------------------------------------------------------------------------------    */
.dodavatel-section-title {
    grid-column: 1 / 2;
    margin-left: 20px;
}
/* -------------------------------------------------------------------------------
    ODBERATEĽ NADPIS
-------------------------------------------------------------------------------    */
.odberatel-section-title {
    grid-column: 1 / 2;

}


/* --------- UPRAVA UDAJOV V PREVIEW DODAVATEL -----------------------------------
/* -------------------------------------------------------------------------------
    MENO FIRMY V DODAVATEĽ
-------------------------------------------------------------------------------    */
#preview-company-name {
    position: absolute;
    top: 40mm;
    left: 8mm;
    font-size: 12px;
}

/* -------------------------------------------------------------------------------
    IČO V DODAVATEĽ
-------------------------------------------------------------------------------    */
#preview-ico {
    position: absolute;
    top: 35mm;
    left: 8mm;
    font-size: 12px;
}

/* -------------------------------------------------------------------------------
    PSČ V DODAVATEĽ
-------------------------------------------------------------------------------    */
#preview-psc {
    position: absolute;
    top: 40mm;
    left: 8mm;
    font-size: 12px;
}

/* -------------------------------------------------------------------------------
    MESTO V DODAVATEĽ
-------------------------------------------------------------------------------    */
#preview-mesto {
    position: absolute;
    top: 40mm;
    left: 20mm;
    font-size: 12px;
}

/* -------------------------------------------------------------------------------
    TEL ČISLO V DODAVATEĽ
-------------------------------------------------------------------------------    */
#preview-contact-number {
    position: absolute;
    top: 45mm;
    left: 8mm;
    font-size: 12px;
}

/* --------- UPRAVA UDAJOV V PREVIEW ODBERATEL -----------------------------------
/* -------------------------------------------------------------------------------
    MENO FIRMY V ODBERATEĽ
-------------------------------------------------------------------------------    */
#preview-company-name-other {
    position: absolute;
    top: 30mm;
    left: 61mm;
    font-size: 12px;
}

/* -------------------------------------------------------------------------------
    IČO V ODBERATEĽ
-------------------------------------------------------------------------------    */
#preview-ico-other {
    position: absolute;
    top: 35mm;
    left: 61mm;
    font-size: 12px;
}

/* -------------------------------------------------------------------------------
    BANKOVÝ úČET V ODBERATEĽ
-------------------------------------------------------------------------------    */
#preview-bank-account-other {
    position: absolute;
    top: 40mm;
    left: 61mm;
    font-size: 12px;
}

/* -------------------------------------------------------------------------------
    TELEFONNÉ ČISLO V ODBERATEĽ
-------------------------------------------------------------------------------    */
#preview-contact-number-other {
    position: absolute;
    top: 45mm;
    left: 61mm;
    font-size: 12px;
}

/* * --------- TU BY MALA BYŤ INÁ SEKCIA ----------------------------------------- */
/* -------------------------------------------------------------------------------
    BANKA POD SEKCIOU DODAVATEL A ODBERATEĽ
-------------------------------------------------------------------------------    */
#preview-bank {
    position: absolute;
    top: 40mm;
    left: 61mm;
    font-size: 12px;
}

/* -------------------------------------------------------------------------------
    IBAN POD SEKCIOU DODAVATEL A ODBERATEĽ
-------------------------------------------------------------------------------    */
#preview-iban {
    position: absolute;
    top: 40mm;
    left: 61mm;
    font-size: 12px;
}

/* -------------------------------------------------------------------------------
    SWIFT POD SEKCIOU DODAVATEL A ODBERATEĽ
-------------------------------------------------------------------------------    */
#preview-swift {
    position: absolute;
    top: 40mm;
    left: 61mm;
    font-size: 12px;
}

/* -------------------------------------------------------------------------------
    OBJEDNÁVKA POD SEKCIOU DODAVATEL A ODBERATEĽ
-------------------------------------------------------------------------------    */
#preview-order {
    position: absolute;
    top: 40mm;
    left: 61mm;
    font-size: 12px;
}


.invoice-splatnost-preview {
    display: flex;
    /* flex-direction: column; */ /* Zarovná všetky deti do stĺpca */
}



.date-group {
    margin-inline: 40px;

}

