/* -------------------------------------------------------------------------------
    KONTAJNERE
-------------------------------------------------------------------------------    */
.form-left-section-all {
    display: flex;
    gap: 50px; /* Medzera medzi formulármi */
    margin-left: 30px;
    margin-top: 30px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Medzera medzi skupinami polí */
}

.form-group {
    margin-bottom: 10px;
    width: 350px;
}

.form-group label {
    display: block;
}

.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 10px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

input {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Jemný tieň */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* -------------------------------------------------------------------------------
    HLAVNÁ ČASŤ STRÁNKY - UPRAVA FONTU A OSTATNYCH VECI, KTORE SA APLIKUJU NA VŠETKO
-------------------------------------------------------------------------------    */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/* -------------------------------------------------------------------------------
    TU SA UPRAVUJE FORMULAR PRE DODÁVATEĽA
-------------------------------------------------------------------------------    */
.form-group-inline {
    display: flex;
    gap: 25px; /* Medzera medzi PSČ a Mesto */
}

.input-item-psc-mesto {
    display: flex;
    flex-direction: column;
}

/* -------------------------------------------------------------------------------
    TU SA UPRAVUJE FORMULAR PRE ODBERATEĽA
-------------------------------------------------------------------------------    */



/* -------------------------------------------------------------------------------
    UPRAVA STYLING PRE BANKA, IBAN, SWIFT, OBJEDNÁVKA
-------------------------------------------------------------------------------    */
/* .form-grid {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;  Dva stĺpce - jeden pre label, druhý pre input 
    gap: 20px;  Medzera medzi prvkami 
} */

/* .form-grid label {
    grid-column: span 1; /* Label má zaberať jeden stĺpec 
} */

/* .form-grid input {
    grid-column: span 1; /* Input má byť hneď vedľa labelu
} */

/* .form-container input {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 70%;
    margin-top: 10px;
} */

.bank-details-update {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* Dve stĺpce */
    gap: 25px; /* Medzera medzi inputmi */
    width: 350px;
    margin-left: 30px;
    margin-top: 50px;
 

}

.container-bank-iban-swift-order {
    display: flex;
    flex-direction: column; /* Label nad inputom */
}



/* -------------------------------------------------------------------------------
    Štýl a pozicia pre tlačidlá BANKOVÝ PREVOD A HOTOVOSŤ
-------------------------------------------------------------------------------    */
.button-container-bank-cash {
    display: flex;
    gap: 10px;
    margin-top: -10px;
}

/* Bankový prevod tlačidlo */
#bankovy-prevod {
    padding: 15px 30px;
    border: 1px medium rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    max-height: 150px;
    white-space: nowrap; /* Zabráni zalamovaniu textu */
    text-align: center;  /* Zarovná text do stredu tlačidla */
}

/* Hotovosť tlačidlo */
#hotovost {
    padding: 15px 60px;
    border: 1px medium rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    max-height: 150px;
    white-space: nowrap; /* Zabráni zalamovaniu textu */
    text-align: center;  /* Zarovná text do stredu tlačidla */
}

.toggle-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.3s ease;
}

.toggle-button.active {
    background-color: #05a0dd;
    color: white;
}

.toggle-button:not(.active) {
    background-color: white;
    color: black;
    border: 1px solid gray;
}

/* -------------------------------------------------------------------------------
    SEKCIA KDE SA NASTAVUJE **DATUM DODANIA** - **DATUM VYSTAVENIA** - **DATUM SPLATNOSTI** 
-------------------------------------------------------------------------------    */
/* DATUM DODANIA Styling a POZICIA */

#date-section-dodania {
    width: 345px; /* Automatická šírka podľa obsahu */
    padding: 10px; /* Vnútorné okraje */
    background-color: #f9f9f9; /* Svetlosivé pozadie na oddelenie */
    border-radius: 5px; /* Zaoblené rohy */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Jemný tieň */
    margin-top: 45px;
}

/* - **DATUM **VYSTAVENIA* Styling a POZICIA** - */

#date-section-vystavenia {
    width: 345px; /* Automatická šírka podľa obsahu */
    padding: 10px; /* Vnútorné okraje */
    background-color: #f9f9f9; /* Svetlosivé pozadie na oddelenie */
    border-radius: 5px; /* Zaoblené rohy */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Jemný tieň */
    margin-top: 20px;
}

/* DATUM Splatnosti Styling a POZICIA */

#date-section-splatnosti {
    width: 345px; /* Automatická šírka podľa obsahu */
    padding: 10px; /* Vnútorné okraje */
    background-color: #f9f9f9; /* Svetlosivé pozadie na oddelenie */
    border-radius: 5px; /* Zaoblené rohy */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Jemný tieň */
    margin-top: 20px;

}

.celok-datumov {
    position: absolute;
    flex-direction: column;
    margin-left: 430px;
    margin-top: 35px;
}

.date-picker {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.minimal-dropdown {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: #333;
    appearance: none; /* Minimalizuje štýl prehliadača */
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s;
}

.minimal-dropdown:hover {
    border-color: #007bff;
}

.minimal-dropdown:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

span {
    font-size: 16px;
    color: #555;
}

/* NEVIEM CO TOTO ROBIT ZISTIT 18.12.2024 */
#section.title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}





.form-section-info {
    display: grid;
    max-width: 300px;
    bottom: 150px;
    left: 150px;
    gap: 10px; /* Medzera medzi prvkami */
    height: 30px; /* Celková výška kontajnera */
    position: relative; /* Potrebné pre zarovnanie tlačidla */
    top: 400px;
    left: -800px;
}
/*
button {
    display: block;
    margin: 0 auto; zarovná tlačidlo do stredu, ak ho chceš v strede 
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative; /* Potrebné pre zarovnanie tlačidla 
    top: 830px;
    right: 270px;
    */
    


/* .form-container {
    background: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
    
} */







input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}





#generate-pdf {    /* DOWNLOAD BUTTON GREEN    */     
    display: block;
    position: absolute; /* Potrebné pre zarovnanie tlačidla */
    left: 75%; /* Posunie tlačidlo do stredu */
    transform: translate(-50%, 0); /* Presunie späť o polovicu svoj šírky, aby bol zarovnané na stred */
    margin: 0 auto; /* zarovná tlačidlo do stredu, ak ho chceš v strede */
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    max-height: 40px;
    text-align: center; /* Zarovná text v tlačidle na stred */
    bottom: 50px;
}

#generate-pdf:hover {
    background-color: #45a049;
}





#bank-account {
    position: relative;
    width: 48%; /* Nastaví šírku na 70% */
    padding: 8px; /* Vnútorné okraje */
    border: 2px solid #007bff; /* Modrý okraj */
    border-radius: 10px; /* Zaoblené rohy */
    background-color: #f9f9f9; /* Svetlosivý podklad */
    font-size: 16px; /* Väčší text */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Jemný tieň */
}

label[for="bank-account"] {
    display: block; /* Label bude nad inputom */
    margin-bottom: 5px; /* Priestor medzi labelom a inputom */
    font-weight: bold; /* Tučný text */
    font-size: 14px; /* Nastaví veľkosť písma */
}


/* TU SA NACHADZA STYLING PRE POPIS FAKTURACIE SUMA  */
/* ----------------------------------------------------------------------------------------------- */

.invoice-item-section {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: absolute;
    top: 710px;
    left: 50px;
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.invoice-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.item-name,
.item-total {
    flex: 1;
    margin-right: 10px;
}

.item-total {
    max-width: 150px;
}

.total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

#total-sum {
    font-size: 18px;
    color: #0056b3;
}

.add-item-button button {
    background-color: #28a745; /* Zelená farba */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 175px;
    right: 240px;
}

.add-item-button button:hover {
    background-color: #218838; /* Trochu tmavšia zelená pri hover */
}



/*background-color: #05a0dd;  Tyrkysová farba pozadia */


/*                               Mobilné štýly */
/* ---------------------------------------------------------------------------- */
@media (max-width: 600px) {
    .container {
      width: 95%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      gap: 100px;
    }
    
  
    .header {
      font-size: 1.5rem;
    }
  
    .button {
      width: 100%;
      padding: 15px;
    }
  
    .row {
      flex-direction: column;
    }
  }